<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include ./partials/meta -%>
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <div>
      <header>
        <img src="/img/robat-logo.svg" alt="Robat">
      </header>
      <ul>
        <!--<li data-user="user">Hallo!</li>-->
        <!--<li data-user="robat">Hey!</li>-->
        <!--<li data-user="user">Ik ben op zoek naar een Nederlands boek over de Tweede Wereldoorlog</li>-->
        <!--<li data-user="robat">Ik ga even voor je kijken, momentje</li>-->
        <!--<li data-user="robat">Dit is wat ik heb gevonden in boeken over de Tweede Wereldoorlog</li>-->
        <!--<li data-user="robat">Hey!</li>-->
        <!--<li data-user="user">Ik ben op zoek naar een Nederlands boek over de Tweede Wereldoorlog</li>-->
        <!--<li data-user="robat">Ik ga even voor je kijken, momentje</li>-->
        <!--<li data-user="robat">Dit is wat ik heb gevonden in boeken over de Tweede Wereldoorlog</li>-->
        <!--<li data-user="robat"><img src="/img/robat-logo.svg"><button>Controleer beschikbaarheid</button></li>-->
        <!--<li data-user="robat">Dit is wat ik gevonden heb:-->
          <!--<ul>-->
            <!--<li>-->
              <!--<div>-->
                <!--<h1>De Tweede Wereldoorlog</h1>-->
                <!--<h2>Winston Churchill</h2>-->
              <!--</div>-->
            <!--<img src="/img/b1.jpeg">-->
            <!--</li>-->
            <!--<li>-->
              <!--<div>-->
                <!--<h1>Nederland en de Tweede Wereldoorlog</h1>-->
                <!--<h2>René Kok</h2>-->
              <!--</div>-->
            <!--<img src="/img/b2.jpeg">-->
            <!--</li>-->
            <!--<li>-->
              <!--<div>-->
                <!--<h1>De Tweede Wereldoorlog</h1>-->
                <!--<h2>Dennis Hamley</h2>-->
              <!--</div>-->
            <!--<img src="/img/b3.jpeg">-->
            <!--</li>-->
            <!--<button>Toon meer</button>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
      <form action="/" method="post">
        <input type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">Stuur</button>
      </form>
    </div>
    <%- include ./partials/sw -%>
  </body>
</html>
