<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include ./partials/meta -%>
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js" defer></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <div>
      <header>
        <div class="logo">
          <img class="icon" src="/img/robat-icon.svg" alt="Robat Icon">
          <img src="/img/robat-logo.svg" alt="Robat Logo">
        </div>
        <span data-tooltip="" data-indicator="status">â—</span>
      </header>
      <ul>
      </ul>
      <form action="/" method="post">
        <label for="message">Message</label>
          <input id="message" type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">Stuur</button>
      </form>
    </div>
  </body>
</html>
