<!DOCTYPE html>
<html lang=nl>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <img id="logo" src="./img/robat-logo.svg" alt="Robat">
      <ul id="chatwindow">
        <li class="bot"> chat voorbeeld</li>
        <li class="user"> gevuld met berichtjes</li>
      </ul>

      <form action="/post" method="post" id="messageForm">
        <input type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">verstuur</button>
      </form>
    </main>
  </body>
</html>
