<!DOCTYPE html>
<html lang=nl>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/index.js" defer></script>
  </head>
  <body>
    <main>
      <article>
        <header>
          <img id="logo" src="./img/robat-logo.svg" alt="Robat">
        </header>
        <ul id="chatwindow">
          <li class="bot"> chat voorbeeld</li>
          <li class="user"> gevuld met berichtjes</li>
        </ul>

        <form action="/post" method="post" id="messageForm">
          <input type="text" name="message" placeholder="Type een bericht..">
          <button type="submit">verstuur</button>
        </form>
      </article>
    </main>
  </body>
</html>
