<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include ./partials/meta -%>
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js" defer></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <div>
      <header>
        <div class="logo">
          <img class="icon" src="/img/robat-icon.svg" alt="Robat Icon">
          <img src="/img/robat-logo.svg" alt="Robat Logo">
        </div>
        <span data-tooltip="" data-indicator="status">â—</span>
      </header>
      <ul>
      </ul>
      <form action="/" method="post">
        <label for="message">Message</label>
          <input id="message" type="text" name="message" placeholder="Typ een bericht..">
        <button type="submit"><svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg></button>
      </form>
    </div>
  </body>
</html>
