<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8">
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" defer></script>
  </head>
  <body>
    <div>
      <header>
        <img src="./img/robat-logo.svg" alt="Robat">
      </header>

      <ul>
        <li data-user="user">Hallo!</li>
        <li data-user="robat">Hey!</li>
        <li data-user="user">Ik ben op zoek naar een Nederlands boek over de Tweede Wereldoorlog</li>
        <li data-user="robat">Ik ga even voor je kijken, momentje</li>
        <li data-user="robat">Dit is wat ik heb gevonden in boeken over de Tweede Wereldoorlog</li>
        <li data-user="robat">Hey!</li>
        <li data-user="user">Ik ben op zoek naar een Nederlands boek over de Tweede Wereldoorlog</li>
        <li data-user="robat">Ik ga even voor je kijken, momentje</li>
        <li data-user="robat">Dit is wat ik heb gevonden in boeken over de Tweede Wereldoorlog</li>
      </ul>

      <form action="/" method="post">
        <input type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">Stuur</button>
      </form>
    </div>
  </body>
</html>
