<!DOCTYPE html>
<html lang=nl>
  <head>
    <meta charset="utf-8">
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <h1>Robat</h1>
      <ul id="chatwindow"></ul>

        <li class="bot"> chat voorbeeld</li>
        <li class="user"> gevuld met berichtjes</li>
      </ul>

      <form action="/post" method="post" id="messageForm">
        <input type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">verstuur</button>
      </form>
    </main>
  </body>
</html>
