<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include ./partials/meta -%>
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js" defer></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <div>
      <header>
        <img src="/img/robat-logo.svg" alt="Robat">
        <p><span data-indicator="online">â— </span>Robat is online!
      </header>
      <ul>
      </ul>
      <form action="/" method="post">
        <label for="message">Message</label>
          <input id="message" type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">Stuur</button>
      </form>
    </div>
  </body>
</html>
