<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Robat chat</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
      <header>
        <img src="./img/robat-logo.svg" alt="Robat">
      </header>

      <ul>
        <!-- dit wordt een dingetje -->
      </ul>

      <form action="/" method="post">
        <input type="text" name="message" placeholder="Type een bericht..">
        <button type="submit">verstuur</button>
      </form>
    </div>
  </body>
</html>
