body {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

#logo {
  align-content: center;
  height: 2em;
  padding: 1em;
  width: 100vw;
}

ul#chatwindow {
  background-image: url(./img/bg.png);
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-top: 0.5em;
}

.bot {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
}
