* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

html {
	font-family: 'Avenir', Arial, sans-serif;
  font-size: 150%;
  height: 100%;
}

@media (max-width: 50em) {
  html {
    font-size: 100%;
  }
}

body {
  height: 100%;
  padding: 0;
}

main {
  width: 100%;
  max-width: 440px;
}

header {
  overflow: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header img {
  height: 1.5em;
  margin: 1em auto;
  display: block;
}
